@font-face {
  font-family: 'Century Gothic';
  src: url(fonts/centurygothic.woff2);
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Century Gothic", sans-serif;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: center;
}

.title,
.displayTurn,
.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-size: 1rem;
  color: #fff;
}
.title {
  padding-top: 4rem;
  font-size: 3rem;
}
.displayTurn {
  font-size: 2rem;
}
.buttons {
  cursor: pointer;
  height: 20px;
  padding-bottom: 3rem;
}
.btn {
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  font-size: 1.25rem;
}

#restartBtn {
  padding-left: 2rem;
}

.gameWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  width: 25vw;
  height: 25vw;
}

.box {
  width: auto;
  height: auto;
  min-width: 50px;
  min-height: 50px;
  border-radius: 1rem;
  font-size: max(4vw, 3rem);
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 1.6vw;
  border: 1px solid white;
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.player1 {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 25px #0fa;
}
.player2 {
  font-size: max(4vw, 3rem);

  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 25px #f09;
}
.box:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
  .gameWrapper {
    width: 100vw;
  }
  .gameboard {
    width: auto;
  }
}

.modal-wrapper {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  width: 100vw;
  height: 100vh;
  position: fixed; /* Stay in place */
}

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  height: fit-content;
  font-size: max(5vh, 20px);
}

/* Modal Content/Box */
.modal-content,
.front-content {
  background-color: rgb(14, 14, 14);
  text-align: center;
  width: 100%;
  border: thin;
  border-radius: 20px;
  color: #fff;

}

.front-content {
  margin: 5vh auto;
  border: none;
  width: auto;
  border-radius: 0px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 2rem 5rem 2rem 5rem;

  min-height: 100%;
  display: flex;
  justify-content: center;
}

.front:hover,
.front:focus {
  color: black;
  cursor: pointer;
}

.inputField {
  display: flex;
  font-size: max(3vw, 25px);
  width: 100%;
  padding-bottom: 3rem;
  align-items: center;
}
.formClass {
  height: 2rem;
  margin-left: 2rem;
  background-color: rgba(201, 201, 201, 0.678);
  border: 0.1rem solid #fff;
  border-radius: 1rem;

  padding: 0.5rem;
  color: black;
  font-size: 2rem;
  text-shadow: 0 0 7px #ff00009b, 0 0 10px rgb(255, 0, 0);
  width: 50%;
}
.input-label {
  min-width: 50%;
}
.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 200px;
}

input[type="radio"] {
  border: 0px;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 200px;
  outline: none;
  background-color: rgba(201, 201, 201, 0.678);
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 500;
}
.startButton:hover {
  cursor: pointer;
}
